
\.idea/dictionaries/tomos\.xml

\.idea/encodings\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/web_scraper\.iml

\.idea/workspace\.xml

__pycache__/LinkObject\.cpython-37\.pyc

__pycache__/Scraper\.cpython-37\.pyc

\.idea/vcs\.xml
